<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="actor" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="John"/>
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="25"/>
    </bean>

    <bean id="actor1" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Sounak"/>
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="26"/>
    </bean>

    <bean id="actor2" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Gopal"/>
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="23"/>
    </bean>

    <bean name="movieA,movieB" class="com.stackroute.domain.Movie">
        <constructor-arg ref="actor"/>
    </bean>

</beans>